# Hardware tunables
ifelse(android_api_lp_or_later,  `true', `
  allow system_server sysfs_hardware:file rw_file_perms;'
, `
  # not needed on Android < 5')

